In [1]:
import pandas as pd

In [35]:
df=pd.read_excel(r"C:\Users\ok\Desktop/mrg/Cat.xlsx")
df1=pd.read_excel(r"C:\Users\ok\Desktop/Mrg/FO.xlsx")
df2=pd.read_excel(r"C:\Users\ok\Desktop/Mrg/MPC.xlsx")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        279 non-null    int64
 1   ParentID  279 non-null    int64
 2   Name      279 non-null    object
dtypes: int64(2), object(1)
memory usage: 6.7+ KB

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2120 entries, 0 to 2119
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2120 non-null   int64
 1   name                   2120 non-null   object
 2   domainUrl              2119 non-null   object
 3   categoryIds            2113 non-null   object
 4   created                2120 non-null   object
 5   programStatus          2120 non-null   object
 6   lastStatusUpdated      2120 non-null   datetime64[ns]
 7   applicationStatus      2120 non-null   object
 8   applicationStatusDate  2120 non-null   datetime64[ns]
 9   applicationStatusId    2120 non-null   int64
 10  description            2120 non-null   object
 11  payout                 2120 non-null   object
 12  imageUrl               2120 non-null   object
 13  country                2120 non-null   object
 14  sevenDayEpc            0 non-null      float64
 15  threeMonthEpc          0 non-null      float64
 16  productAdvertiser      2120 non-null   bool
 17  promotionalAdvertiser  2120 non-null   bool
 18  allowsDeeplinking      2120 non-null   bool
 19  deeplinkURL            1924 non-null   object
 20  flexLinks              2120 non-null   bool
 21  lastCommissionUpdated  624 non-null    datetime64[ns]
 22  actions                350 non-null    object
dtypes: bool(4), datetime64[ns](3), float64(2), int64(2), object(12)
memory usage: 323.1+ KB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 13 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   merchants                                    1986 non-null   object
 1   avg starting bid                             1983 non-null   float64
 2   clicks                                       1986 non-null   int64
 3   sales                                        437 non-null    float64
 4   commission                                   437 non-null    float64
 5   weighted EPC                                 437 non-null    float64
 6   costs                                        1983 non-null   float64
 7   Conversion rate                              1980 non-null   float64
 8   ROI                                          1980 non-null   float64
 9   P/L                                          0 non-null      float64
 10  Baseify keyword import + cushion*confidence  1980 non-null   object
 11  Category                                     1980 non-null   object
 12  Unnamed: 12                                  1980 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 201.8+ KB

In [37]:
df3=pd.merge(df, df1, left_on='ID',right_on='categoryIds')
df3

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

#### Since in df1 the categoryIds is object(string) so we cannot merge it on ID(int64) and categoryIds(object).

##### So 1st we need to change dtype of categoryIds to int64.

In [38]:
df1['categoryIds']=df1['categoryIds'].astype(int)

ValueError: invalid literal for int() with base 10: '22,59'

##### So we have some where 22,59 type values. We need to fix it.

In [39]:
#right = df['Identifier'].str[-5:]

In [40]:
df1['categoryIds'] = df1['categoryIds'].str[-2:] # So we choose last 2 characters after comma.

In [42]:
df1['categoryIds']=df1['categoryIds'].astype(float)

In [ ]:
####

##### So now let's try again.

In [68]:
df3=pd.merge(df, df1, left_on='ID',right_on='categoryIds')

In [54]:
df3=df3[['ID', 'ParentID', 'Name', 'id', 'name']]

In [56]:
df3.columns=['CategoryID', 'ParentID', 'Category Name', 'id', 'name']

In [57]:
df3.head(3)

   CategoryID  ParentID       Category Name      id                name
0           1         0  Financial Services  201205  grovecollaborative
1           1         0  Financial Services  162319     tedswoodworking
2           2         1    Credit Reporting  209576         creditkarma

In [59]:
df4=pd.merge(df3, df2, left_on='name',right_on='merchants')

In [66]:
df4.shape

(574, 12)